{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Cable Entry" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Closure" %}</th>
                    <td>{{ object.closure|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Fiber Cable" %}</th>
                    <td>{{ object.fiber_cable|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Entrance Port" %}</th>
                    <td>{{ object.entrance_port|linkify }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col col-md-6">
        {% if object.notes %}
        <div class="card">
            <h5 class="card-header">{% trans "Notes" %}</h5>
            <div class="card-body">{{ object.notes|markdown }}</div>
        </div>
        {% endif %}
    </div>
</div>
{% plugin_full_width_page object %}
{% endblock %}
