{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load i18n %}

{% block title %}{% trans "Visual Editor" %}: {{ object }}{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'netbox_fms/css/splice_editor.css' %}">
{% endblock %}

{% block content %}
<div class="m-n3" style="margin-top: -1.25rem;">
{% include "netbox_fms/inc/splice_editor_widget.html" %}
</div>
<script>
    window.SPLICE_EDITOR_CONFIG = {
        deviceId: {{ object.closure_id }},
        planId: {{ object.pk }},
        contextMode: "plan-edit",
        planStatus: "{{ object.status }}",
        strandsUrl: "{% url 'plugins-api:netbox_fms-api:closure_strands' device_id=object.closure_id %}",
        bulkUpdateUrl: "{% url 'plugins-api:netbox_fms-api:spliceplan-bulk-update-entries' pk=object.pk %}",
        quickAddFormUrl: "",
        quickAddApiUrl: "",
        csrfToken: "{{ csrf_token }}",
        debug: {{ debug|yesno:"true,false" }},
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/d3@7/dist/d3.min.js"></script>
<script src="{% static 'netbox_fms/dist/splice-editor.min.js' %}"></script>
{% endblock %}
