{% for field in form.hidden_fields %}{{ field }}{% endfor %}
{% for field in form.visible_fields %}
<div class="mb-2 row">
    <label class="col-sm-3 col-form-label col-form-label-sm" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="col-sm-9">
        {{ field }}
        {% if field.help_text %}<div class="form-text small">{{ field.help_text }}</div>{% endif %}
        {% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
    </div>
</div>
{% endfor %}
